<?xml version="1.0"?>
<launch>
	<!-- parameters -->
	<arg name="hasNoTFBroadcast" default="false" /> 
	<rosparam command="load" ns="srbir" file="$(find neo_srb_ir)/ros/launch/$(env ROBOT).yaml"/>
	<!-- start nodes -->
	<include file="$(find neo_srb_ir)/ros/launch/srb_tf_ir.launch"/>
	<!-- include transformation broadcaster? -->
	<node if="$(arg hasNoTFBroadcast)" pkg="neo_srb_ir" type="neo_srb_ir" ns="srbir" name="srb_ir_node" respawn="false" output="screen"/>
</launch>


