<?xml version="1.0"?>
<launch>
	<!-- parameters -->
	<arg name="hasNoTFBroadcast" default="false" /> 
	<rosparam command="load" ns="srbgyro" file="$(find neo_base_mp_500)/ros/launch/serrelay/gyroboard/$(env ROBOT).yaml"/>
	<!-- start nodes -->
	<node pkg="cob_relayboard" type="neo_srbgyro" ns="srbgyro" name="srbgyro_node" respawn="false" output="screen"/>
</launch>


