<?xml version="1.0"?>
<launch>
	<rosparam command="load" ns="platformctrl" file="$(find neo_platformctrl_mecanum)/ros/launch/$(env ROBOT).yaml"/>
	<node pkg="neo_platformctrl_mecanum" type="neo_platformctrl_mecanum_node" ns="mecanumplatformctrl" name="mecanumplatformctrl_node" respawn="false" output="screen"/>
</launch>


