<?xml version="1.0"?>
<launch>
	<arg name="sim" default="false" />
	<!-- upload parameters -->
	<!--arg name="IniDirectory" default="$(find cob_hardware_config)/cob3-4/config/base/"/-->
	<arg name="IniDirectory" default="$(find neo_base_mpo_700)/ros/launch/base_drive/$(env ROBOT)/"/>
	
	<!-- start underlying components - base_drive_chain -->
	<include file="$(find cob_bringup)/components/base.launch" >
		<arg name="sim" value="false" />
		<arg name="namespace" value="base_controller"/>
		<arg name="topicJointName" value="joint_states"/>
		<arg name="topicJointCmd" value="cmd_joint_traj"/>
		<arg name="topicEmergencyState" value="/emergency_stop_state" />
		<arg name="iniDir" value="$(arg IniDirectory)" />
		<arg name="configBaseDriveChain" value="$(find neo_base_mpo_700)/ros/launch/base_drive/$(env ROBOT)"/>
	</include>

</launch>
